# Node modules
node_modules/

# Dependency lock files (optional: only if you don't want to track them)
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local

# Coverage reports
coverage/
*.lcov

# Build outputs
dist/
build/
.cache/
.next/
out/
.temp/
.astro/

# IDE configs
.vscode/
.idea/
*.swp

# Others
*.log
*.tgz
*.gz
*.zip
*.wav

# TypeScript
*.tsbuildinfo

# Misc
.parcel-cache/
eslintcache

# Python cache
ml/__pycache__/
ml/models/xtts/deepspeed_model.pth
ml/models/xtts/cusom_implementation/tts/layers/xtts/__pycache__/gpt_inference.cpython-310.pyc
ml/models/xtts/cusom_implementation/tts/layers/xtts/__pycache__/latent_encoder.cpython-310.pyc
ml/models/xtts/cusom_implementation/tts/layers/xtts/__pycache__/gpt.cpython-310.pyc
ml/models/xtts/cusom_implementation/tts/layers/xtts/__pycache__/perceiver_encoder.cpython-310.pyc
ml/models/xtts/cusom_implementation/tts/models/__pycache__/xtts.cpython-310.pyc

*.pyc
ml/translation_pipeline/benchmark_audios/common_voice_bn_42452248.mp3
ml/translation_pipeline/testing_voices/arnold_original.mp3
ml/translation_pipeline/testing_voices/dumbledore_original.mp3
ml/translation_pipeline/testing_voices/zac-efron_original.mp3
